<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit Teachers Data</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Edit Teachers Data</h1>
            </div>
            <div class="col-md-12"><a href="/teachers">Show teachers</a></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/teachers/edit/<%=teachers.id%>">
                    <input type="text" placeholder="First name" name="first_name" value="<%=teachers.first_name%>">
                    <input type="text" placeholder="Last Name" name="last_name" value="<%=teachers.last_name%>">
                    <input type="email" placeholder="Email" name="email" value="<%=teachers.email%>">

                    <button class="btn btn-primary">Edit teachers</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>